  html {
      height:2400px;
  }
  .products {
    padding:15px;
    background-color: #ddd;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:5px;
    color:#666;
    margin-bottom:2rem;
    border-radius:10px;
  
  }
  
    .products h2 {
      color: #333;
      margin: 1rem;
      font-weight:bold;
    }
    .products ul {
      background-color: #eee;
      display:flex;
      flex-wrap: wrap;
      justify-content:space-between;
      list-style-type: none;
      padding: 0;
      width:95%;
      padding:20px;
        border-radius:10px;
    }

    .products li {
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      overflow: hidden;
      width:18%;

    }

    .products .product-container{
       box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
      width:100%;
      border-radius:10px;
      display:flex;
      flex-direction:column;
      align-items:center;
      background-color: #6c757d;
      border:1px solid #6c757d;
      color: white;
    }

    .products .product-image img {
      max-width: 100%;
      height: auto;
      border-radius: 10px 10px 0 0;
      margin-right: 10px;
      float: left;
    }
    .products .product-infos{
      width:90%;
      display:flex;
      justify-content:space-between;
    }

    .products .product-category{
    font-weight:700;
    }

    .products .product-gender{
   font-weight:700;
    }


    .products .product-title {
      font-size:14px;
      height:40px;
      font-weight:200;
      width:90%;
      color: #ddd;
      margin-bottom:4px;
      text-align:center;
    }

    .products p {
      margin: 0;
      font-size: 18px;
      line-height: 1.4;
      color: #555;
    }
